@using BoardGameRatings.WebSite.Controllers
@model BoardGameRatings.WebSite.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = @Model.Description;
}

@using (Html.BeginForm(CategoryController.BuildSaveActionRouteValues(@Model)))
{
    @Html.AntiForgeryToken()
    <div>
        <div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="col-md-10 ">
                @Html.TextBoxFor(m => m.Description, new
                {
                    @rows = "10"
                })
            </div>
        </div>
        <div>
            @Html.HiddenFor(model => model.Id)
        </div>

        <div class="btn-group">
            <input type="submit" value="Save" class="btn btn-default"/>
            <a href="@Url.RouteUrl(CategoriesController.BuildIndexActionRouteValues())" class="btn btn-default">Cancel</a>
        </div>
    </div>
}