@using BoardGameRatings.WebSite.Controllers
@model BoardGameRatings.WebSite.ViewModels.GamesViewModel

@{
    ViewData["Title"] = "Games";
}

<div class="btn btn-default">
    <a href="@Url.RouteUrl(GamesController.BuildAddActionRouteValues())">Add</a>
</div>

<div>
    <table class="table table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th class="head">Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td class="col-md-2">@game.Name</td>
                <td class="col-md-8">@game.Description</td>
                <td class="col-md-1">
                    <a href="@Url.RouteUrl(GamesController.BuildEditActionRouteValues(game.Id))">Edit</a>
                </td>
                <td class="col-md-1">
                    <a href="@Url.RouteUrl(GamesController.BuildRemoveActionRouteValues(game.Id))">Remove</a>
                </td>
            </tr>
        }
    </table>
</div>